.block_title{
    margin: 0px;
}
#main_navigation{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.spoiler{
    padding: 0px 10px 0px 20px;
    overflow: hidden;
    height: 0px;
    position: absolute;
    transform: translateX(-6vw);
    transition: all 0.3s ease-out;
}
.check{
    margin: 0px;
    display: none;
}
.check:checked + .spoiler{
    position: absolute;
    z-index: 1;
    background-color: lightblue;
    border: 1px solid black;
    height:auto;
}
.link, .hiden_link{
    text-decoration: none;
    color: black;
}
.link:checked{
    color: black;
}
.link:hover{
    background-color: aqua;
}
.menu:hover{
    cursor:pointer;
}
.conclusion_href,
.conclusion_href:visited{
    color: #0000e6;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.reg_form{
    font-size:large;
}
#main_block{
    display: grid;
    grid-template-columns: 8fr 2fr;
}
.side_panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.question_block{
    display: grid;
    grid-template-columns: 5fr 5fr;
}







       .show_ansver{
            display: none;
        }
        label[for^="ansver"]{
            cursor: pointer;
            border: 1px dotted black;
            background-color: lightgray;
        }
        .show_ansver + label::before{
            content: "Показати правильну відповідь";
        }
        .show_ansver:checked + label::before{
            content: "Приховати відповідь";
        }
        .show_ansver:checked ~ ol>li[data-content="!--"],
        .show_ansver:checked ~ ol>li[data-content="le"],
        .show_ansver:checked ~ ol>li[data-content="type"],
        .show_ansver:checked ~ ol>li[data-content="li"]
        {
            background-color: #ade1FF;
            color: red;
            transition: all 0.25s ease-out;
        }

        #radio_box{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: darkgray;
            max-width: 50%;
            transform: translateX(50%);
        }
        .radio_content{
            background-color: blue;
            cursor: pointer;
            margin: 30px;
            border:1px solid black;
            align-content: center;
            text-align: center;
            width: 50px;
            height: 50px;
            font-size: 4ch;
        }
        .radio_content::selection{
            background-color: inherit;
            color: inherit;
        }
        #radio_box{
            display: flex;
        }
        label.radio_content:last-child{
            background-color: red;
        }
        label.radio_content:first-child{
            background-color: green;
        }
        .quest_radio{
            display: none;
        }
        #first, label[for="first"]{
            order: 2;
        }
        #second, label[for="second"]{
            order: 3;
        }
        #third, label[for="third"]{
            order: 0;
        }
        #forth, label[for="forth"]{
            order: 1;
        }
        #tab, #tab tr, #tab td{
            border: 1px solid black;
        }
    