.block_title{
    margin: 0px;
}
#main_navigation{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}
.spoiler{
    padding: 0px 10px 0px 20px;
    overflow: hidden;
    height: 0px;
    position: absolute;
    transform: translateX(-6vw);
    transition: all 0.3s ease-out;
}
.check{
    margin: 0px;
    display: none;
}
.check:checked + .spoiler{
    position: absolute;
    z-index: 1;
    background-color: lightblue;
    border: 1px solid black;
    height:auto;
}
.link, .hiden_link{
    text-decoration: none;
    color: black;
}
.link:checked{
    color: black;
}
.link:hover{
    background-color: aqua;
}
.menu:hover{
    cursor:pointer;
}
.conclusion_href,
.conclusion_href:visited{
    color: #0000e6;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
.reg_form{
    font-size:large;
}
#main_block{
    display: grid;
    grid-template-columns: 8fr 2fr;
}
.side_panel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.question_block{
    display: grid;
    grid-template-columns: 5fr 5fr;
}